extends ./index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros" class="img-fluid")
            .col-md-7
                h1= pagina
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lectus nibh, rutrum ac turpis at, placerat molestie dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. In vestibulum dictum aliquam. Maecenas cursus, mauris a ultrices varius, ante ligula imperdiet turpis, quis viverra neque mi ac urna. Sed sodales dapibus elit, at malesuada est lacinia vitae. Quisque aliquam at lorem sit amet vulputate. Aenean a fermentum mauris. Maecenas in risus velit. Nulla facilisi. Sed felis lectus, eleifend non placerat vel, interdum sit amet turpis. Maecenas tincidunt sem metus, quis pellentesque lorem feugiat id. Morbi commodo et augue sed lobortis. Fusce tempus elit a blandit maximus.

            .listado-iconos 
                .container.mt-4.py-5.text-center 
                    .row 
                        .col-md-4 
                            img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                            h2.mb-4 Seguridad 
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lectus nibh, rutrum ac turpis at, 

                        .col-md-4 
                            img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                            h2.mb-4 Destino 
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lectus nibh, rutrum ac turpis at, 
                        
                        .col-md-4 
                            img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                            h2.mb-4 Mejores Precios
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lectus nibh, rutrum ac turpis at, 